<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <title>Instagram</title>
    <style>
        img{
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
    <h1>This Account belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>

    <p>Follower : <%= data.followers  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Following : <%= data.following  %></p>
    <hr>
    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="some post">
        <p>like : <%= post.likes  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comments : <%= post.comments  %></p>
    <% } %>    

</body>
</html>


